body {
    margin: 0;
    /*background-color: #e3e3e3;*/
    font-family: 'ui-rounded', sans-serif;
    color: #232323;
}

#header, #footer {
    background-color: #876baa;
    color: white;
    padding: 0.8em;
    font-size: 1.2em;
}

/*header, footer {*/
/*    !*position: absolute;*!*/
/*    width: 100%;*/
/*}*/

/*footer {*/
/*    margin-top: -2%;*/
/*}*/

#header {
    display: flex;
    flex-direction: row;

    .title {
        font-weight: bold;
    }

    .contact {
        margin-left: auto;
    }
}

footer svg {
    margin-bottom: -0.3%;
}

.triangle {
    fill: #876baa;
}

#container {
    position: relative;
    margin: 2.5em;
    border: 5px solid #232323;
    border-radius: 15px;
    height: 87vh;
    overflow: scroll;
    overflow-x: hidden;
}

.main-container {
    margin: 0 6em;
    padding: 2em;
    font-size: 1.2em;
    box-shadow: 0 0 30px #c1c1c1;
}

#portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.project-type-choice button {
    border-radius: 0.8em;
    border: #876baa solid 2px;
    background-color: #ffffff;
    color: #876baa;
    font-weight: bold;
    padding: 0.2em 0.4em;
}

.portfolio-project {
    display: flex;
    margin-bottom: 1em;

    img {
        max-width: 20em;
        max-height: 20em;
        width: 20em;
        height: auto;
        border-radius: 0.5em;
        border: 3px solid #232323;
    }

    .project-infos {
        margin-left: 1em;
        line-height: 1.5em;
    }

    .project-name {
        font-weight: bold;
        font-size: 1.1em;
    }
}

/* Phones (640px max) */
@media only screen and (max-width: 600px) {
    .main-container {
        margin: 0 0em;
    }
}

/* Tablets (601 and up) */
@media only screen and (min-width: 601px) {
    .main-container {
        margin: 0 0em;
    }
}

/* Computers (1100px and up) */
@media only screen and (min-width: 1100px) {
    .main-container {
        margin: 0 5em;
    }
}

/* Giga big edition (1400px and up) */
@media only screen and (min-width: 1400px) {
    .main-container {
        margin: 0 10em;
    }

    #container {
        margin: 2.5em 8em;
        animation: shrinkMargin 1s ease-out forwards
    }

    @keyframes shrinkMargin {
        from {
            margin: 2.5em 8em;
            height: 87vh;
            border-radius: 15px;
            border: 5px solid #232323;
        }
        to {
            margin: 0;
            height: 100vh;
            border-radius: 0;
            border: 0;
        }
    }
}